.scroll-padding {
	padding-bottom: 80px !important;
}

.bottom-button {
	--color: white;
}

.button-container {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 16px 24px;
	background-color: var(--ion-toolbar-background);
	/* backdrop-filter: blur(5px); */
}
