.centered-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 16px;
}

.centered-container > * {
	width: 100%;
	max-width: 400px;
}
