.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	padding: 24px;
	position: fixed;
}

.wrapper {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.buttons {
	display: flex;
	flex-direction: column;
	gap: 8px;
	/* background-color: var(--ion-toolbar-background); */
}

ion-button {
	--padding-top: 6px;
	--padding-bottom: 6px;
	--padding-start: 6px;
	--padding-end: 6px;
}

ion-chip {
	--background: var(--ion-color-medium);
	--color: var(--ion-color-medium-contrast);
}

/* ion-toolbar {
	--background: var(--ion-color-primary);
	--color: var(--ion-color-primary-contrast);
} */

.card-disabled {
	--background: #e0e0e0;
	/* Or any color that signifies "disabled" */
	--color: #a0a0a0;
	/* Optional: if you want to change the text color as well */
	pointer-events: none;
	/* Optional: if you want to prevent interaction with the card */
	/* Add any other styles you want for the "disabled" state */
}