.password-input {
	padding: 10px;
}

.password-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.password-input:last-child {
	margin-top: auto;
}

ion-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
